<div class="content">
  <h1>Template-Driven Form</h1>
  <form
    #personForm="ngForm"
    (ngSubmit)="onSubmitForm(personForm)"
    *ngIf="!formSubmitted"
  >
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        ([ngModel])="(personForm.firstName)"
        required
      />
    </div>
    <p class="help" *ngIf="firstName.touched && !firstName.valid">
      Don't forget your name!
    </p>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" ngModel required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" ngModel required email />
    </div>
    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="text" name="phone" id="phone" ngModel />
    </div>
    <div class="" ngModelGroup="address">
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" name="street" id="street" ngModel required />
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" ngModel required />
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" name="state" id="state" ngModel required />
      </div>
      <div class="form-group">
        <label for="zip">Zip Code:</label>
        <input type="text" name="zip" id="zip" ngModel required />
      </div>
    </div>
    <button type="submit" [disabled]="!personForm.valid">Submit</button>
  </form>

  <!-- Person's Data -->
  <div class="data" *ngIf="formSubmitted">
    <p>{{ person.firstName }} {{ person.lastName }}</p>
    <p>{{ person.email }}</p>
    <p>{{ person.phone }}</p>
    <p>
      {{ person.address.street }} {{ person.address.city }},
      {{ person.address.state }} {{ person.address.zip }}
    </p>
  </div>
</div>
